#!/bin/bash

if [ "$SHELL" != "$(command -v zsh)" ]; then
  chsh -s "$(command -v zsh)"
fi

if ! command -v zoxide > /dev/null 2>&1; then
  curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
fi

if ! command -v cht.sh > /dev/null 2>&1; then
  curl https://cht.sh/:cht.sh > "$HOME/.local/bin/cht.sh"
  chmod +x "$HOME/.local/bin/cht.sh"
fi

if ! command -v rustup > /dev/null 2>&1; then
  export CARGO_HOME="$HOME/.local/share/cargo"
  export RUSTUP_HOME="$HOME/.local/share/rustup"
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path
fi

if ! command -v keychain > /dev/null 2>&1; then
  curl -sL -o $HOME/.local/bin/keychain https://github.com/funtoo/keychain/releases/download/2.9.5/keychain
  chmod +x $HOME/.local/bin/keychain
fi

if ! command -v fzf > /dev/null 2>&1; then
  curl -sSfL https://github.com/junegunn/fzf/releases/download/v0.62.0/fzf-0.62.0-linux_amd64.tar.gz | tar -xz -C ~/.local/bin
fi

# TODO: lstr, directory tree viewer (cargo crate install)

# TODO: joshuto, file manager (git clone, cargo build)

