#!/bin/bash

if [ "$SHELL" != "$(command -v zsh)" ]; then
  chsh -s "$(command -v zsh)"
fi

if ! command -v zoxide > /dev/null 2>&1; then
  curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
fi

if ! command -v cht.sh > /dev/null 2>&1; then
  curl https://cht.sh/:cht.sh > "$HOME/.local/bin/cht.sh"
  chmod +x "$HOME/.local/bin/cht.sh"
fi

if ! command -v rustup > /dev/null 2>&1; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
fi

# TODO: lstr, directory tree viewer (cargo crate install)

# TODO: joshuto, file manager (git clone, cargo build)

