#!/bin/bash

# Installs packages available through the OS package manager

OS_RELEASE=$(cat /etc/os-release)
OS_ID=$(grep '^ID_LIKE=' /etc/os-release | cut -d= -f2- | tr -d '"')

# TODO: associative array for distro differences
pkgs=(dnf ripgrep curl wget gnupg make cmake tmux rlwrap keychain fzf jq fd)

function install_with_pkg_mgr() {
  
  local ID_LIKE=$OS_ID
  
  if ! command -v $1 > /dev/null 2>&1; then
    if echo "$ID_LIKE" | grep -qw "suse"; then
      sudo zypper install $1
    else
      sudo apt install $1
    fi
  fi
}

echo "Installing packages managed by OS package manager..."

for pkg in "${pkgs[@]}"; do
  install_with_pkg_mgr "$pkg"
done

