#!/bin/sh

# Sets up XDG dirs

if [ ! -f /etc/profile.d/xdg_dirs.sh ]; then
  echo "Creating /etc/profile.d/xdg_dirs.sh with XDG base dir variables..."

  cat <<'EOF' > /etc/profile.d/xdg_dirs.sh
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-\$HOME/.config}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-\$HOME/.cache}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-\$HOME/.local/share}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-\$HOME/.local/state}"
EOF

  chmod 644 /etc/profile.d/xdg_dirs.sh
else
  echo "/etc/profile.d/xdg_dirs.sh already exists; skipping."
fi

# Installs packages available through the OS package manager

OS_RELEASE=$(cat /etc/os-release)
OS_ID=$(grep '^ID_LIKE=' /etc/os-release | cut -d= -f2- | tr -d '"')

# TODO: associative array for distro differences
pkgs=(dnf ripgrep curl wget gnupg make cmake tmux rlwrap keychain fzf jq fd)

function install_with_pkg_mgr() {
  
  local ID_LIKE=$OS_ID
  
  if ! command -v $1 > /dev/null 2>&1; then
    if echo "$ID_LIKE" | grep -qw "suse"; then
      sudo zypper install $1
    else
      sudo apt install $1
    fi
  fi
}

for pkg in "${pkgs[@]}"; do
  install_with_pkg_mgr "$pkg"
done
