#!/bin/sh

# Re-execute with sudo if not root

if [ "$EUID" -ne 0 ]; then
  echo "This script needs to be run as root. Re-executing with sudo..."
  exec sudo "$0" "$@"
fi

# Sets up XDG dirs

if [ ! -f /etc/profile.d/xdg_dirs.sh ]; then
  echo "Creating /etc/profile.d/xdg_dirs.sh with XDG base dir variables..."

  mkdir /etc/profile.d
  touch /etc/profile.d/xdg_dirs.sh

  cat <<'EOF' > /etc/profile.d/xdg_dirs.sh
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-\$HOME/.config}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-\$HOME/.cache}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-\$HOME/.local/share}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-\$HOME/.local/state}"

export XDG_DATA_DIRS=/usr/local/share:/usr/share
export XDG_CONFIG_DIRS=/etc/xdg

export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export BASH_ENV="$XDG_CONFIG_HOME/bash/.bashrc"
EOF

  chmod 644 /etc/profile.d/xdg_dirs.sh
else
  echo "/etc/profile.d/xdg_dirs.sh already exists; skipping."
fi

# Setup config dirs for bash and zsh

